**/__snapshots__
*.log
.vscode
/.git
/.github
/.parcel-cache
/coverage
/doc
/example
/jest.config.js
/node_modules
/script
/src/**/*.test.ts
/src/**/*.test.tsx
/tsconfig.json
/webpack.config.mjs
/yarn.lock
