.vscode
**/__snapshots__
*.log
/.git
/.github
/coverage
/dist/**/*.map
/dist/dev
/example
/jest.config.js
/node_modules
/src/**/*.test.ts
/src/**/*.test.tsx
/tsconfig.json
/webpack.config.mjs
/yarn.lock
